/IFly.class
/IOwlMotions.class
/ITrot.class
/Idash.class
/Ijump.class
/Iroll.class
/Irun.class
/Isit.class
/Iskip.class
/Islither.class
/Iswim.class
/Itrot.class
/Ifly.class
/IDogMotions.class
/IDuckMotions.class
/IHedgehogMotions.class
/ISnakeMotions.class
